/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/* body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #1C5D99;
  font-family: 'orelega one', sans-serif;
}

#title {
  padding-top: 2%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #222222;
  text-shadow: 0 0 3px white;
}

img {
  height: 90%;
  width: 90%;
}

img:active {
  transform: scale(0.90);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#imgs {
  margin-top: 3%;
}

.imgArea {
height: 45%;
font-size: 20px;
text-shadow: 0 0 3px white;
}

.textArea {
height: 55%;
}

.firstRow {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; 
}

.secondRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#firstImgs,
#secondImgs {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 40px;
}

#nameArea {
  margin-top: 5%;
  margin-left: 4%;
  height: 25%;
}

#playerList  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 15px;
  text-shadow: 0 0 3px black;
}

li {
  color: white;
  padding: 1% 2% 2% 2%;
  transform: rotate(20deg);
 }
 
li:nth-of-type(2n) {
 transform: rotate(330deg);
}

#beforePlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerName {
  width: 50%;
  margin: 3% 0 3% 0;
  padding-top: 5% ;
  font-size: 30px;
  border: 2px solid black;
  background: white;
}

#addPlayer {
  width: 50%;
  padding: 1% 0;
  font-size: 25px;
  font-family: 'orelega one';
  font-size: 20px;
  border: 4px solid black;
  border-radius: 10%;
  background: #BBCDE5;
}

#addPlayer:active {
  transform: scale(0.90);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#startGame {
  width: 20%;
  margin-top: 3% ;
  padding: 2%;
  border: 4px solid black;
  border-radius: 75%;
  font-family: 'orelega one';
  background: #0E1345;
  color: white;
  font-size: 12px;
}

#startGame:active {
  transform: scale(0.90);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#duringPlay {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#taskBox {
  width: 90%;
  background: #BBCDE5;
  display: block;
  text-align: center;
  padding: 15px 0;
  border: 3px solid #222222;
}

@media screen and (min-width: 800px) {

  #imgArea {
    height: 20%;
  }

  img {
    width: 125px;
    height: 125px;
  }
  
  #nameArea {
    height: 20%;
    margin-top: -50px;
  }
  #playerName {
    padding: 0;
  }
  #addPlayer {
    width: 20%;
    margin-bottom: 20px;
  }
  #startGame {
    padding: 20px;
    width: 10%;
    
  }
  #duringPlay {
    margin-top: 100px;
  }
  #startGame {
    margin: 0;
  }
  #imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .firstRow {
    padding: 0;
  }

  #taskBox {
    width: 50%;
    font-size: 40px;
  }
} */

body {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "orelega one", sans-serif;
  position: relative;
}

.imgArea {
  display: none;
}
#title {
  display: flex;
  color: white;
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.titleBox {
  background: white;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 2rem;
  border: solid 0.5rem;
  border-left: solid grey 0.5rem;
  border-right: solid grey 0.5rem;
}

#beforePlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem;
}

button,
input {
  padding: 1rem;
  display: flex;
  text-align: center;
}

#addPlayer,
#startGame {
  background-color: white;
}

#addPlayer:active,
#startGame:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#playerList {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.3rem;
  margin-top: 2rem;
  justify-content: center;
}

li {
  color: #5a91e8;
  padding: 2rem;
  transform: rotate(20deg);
}

li:nth-of-type(2n) {
  transform: rotate(330deg);
  color: #57d49e;
}
li:nth-of-type(3n) {
  color: #f584e2;
}
li:nth-of-type(4n) {
  color: #ffae4a;
}

img {
  height: 90%;
  width: 90%;
}

img:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#imgs {
  margin-top: 3%;
}

.imgArea {
  height: 45%;
  font-size: 20px;
  text-shadow: 0 0 3px white;
}
.textArea {
  height: 55%;
}

.firstRow {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.secondRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#firstImgs,
#secondImgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#nameArea {
  margin-top: 5%;
  margin-left: 4%;
  height: 25%;
}

#duringPlay {
  background: white;
  color: black;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 2rem;
  border: solid black 0.5rem;
  border-left: solid grey 0.5rem;
  border-right: solid grey 0.5rem;
  display: none;
  justify-content: center;
  width: 80%;
  margin-top: -1rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
